*.log
*.jpg
*.png
*.mp3
*.out
*.exe
*.o
*.bin
*.bak
*.so
*.cpp
test.py
test_gui.py
__pycache__
vosk-model-ru
build
repo_pushing_token
err
stderr
.fuse_*
virtual_console_tests.py
virtual_console_setup.py
video_test.py
test_img_show.py
test2.py
audioplayer_dbus.py
